/* line 1, C:/Users/karryd/Google Drive/webutv2_te14/keyframes/sass/raket.sass */
html {
  box-sizing: border-box;
  background-color: #9f221b; }

/* line 5, C:/Users/karryd/Google Drive/webutv2_te14/keyframes/sass/raket.sass */
*, *::before, *::after {
  box-sizing: inherit; }

/* line 8, C:/Users/karryd/Google Drive/webutv2_te14/keyframes/sass/raket.sass */
.wrapper {
  position: relative;
    position-margin: 100px; }

/* line 12, C:/Users/karryd/Google Drive/webutv2_te14/keyframes/sass/raket.sass */
img {
  display: block;
  margin: 0 auto; }

/* line 16, C:/Users/karryd/Google Drive/webutv2_te14/keyframes/sass/raket.sass */
.planet {
  width: 400px; }

/* line 19, C:/Users/karryd/Google Drive/webutv2_te14/keyframes/sass/raket.sass */
.rocket {
  width: 40px;
  position: absolute;
  left: calc(50% - 20px);
  top: -40px;
  animation: orbit 5s linear infinite;
  transform-origin: center 240px; }

@keyframes orbit {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }

/*# sourceMappingURL=raket.css.map */
