.swing
    background: #fd6666
    width: 300px
    padding: 20px
    border-radius: 10px
    margin: 100px auto
    color: #ffe8e8
    font: bold 60px sans-serif
    box-shadow: 2px 2px 5px rgba(70, 70, 70, 0.74)
    text-align: center
    cursor: pointer

.swing:active
    animation: swing .3s ease

.swing2:focus
    animation: swing .3s ease

@keyframes swing
    10%
        transform: translateX(15px)
    20%
        transform: translateX(-15px)
    30%
        transform: translateX(10px)
    45%
        transform: translateX(-10px)
    50%
        transform: translateX(5px)
    65%
        transform: translateX(-5px)
    80%
        transform: translateX(3px)
    100%
        transform: translateX(0px)

