/* Specificitet övning */
caption {
    color: pink !important;
}
* {
    color: purple;
}
#rubrik1 {
    color: red;
}
.rubrik2 {
    color: aqua;
}

/* CSS regler */
table {
    font: 14px arial;
    border-collapse: collapse;
}
caption {
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    padding: 6px;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke: 3px #876bbe;
    -moz-text-stroke: 3px #876bbe;
}
/* Varannan rad grå */
tr:nth-child(odd) {
    background: #eee;
}
th {
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    padding: 6px;
}
td {
    padding: 6px;
    border: 1px solid #ddd;
}
/* Första raden gul */
tr:nth-child(2) {
    background: #eaea85;
}
/* Gör hover på hela raden */
tr:hover {
    color: red;
    background: yellow;
    cursor: pointer;
}
