/* line 1, C:/Users/karryd/Google Drive/webutv2_te14/galleri/sass/galleri.sass */
body {
  font: 18px sans-serif; }

/* line 4, C:/Users/karryd/Google Drive/webutv2_te14/galleri/sass/galleri.sass */
.kontainer {
  width: 1200px;
  display: flex;
  flex-wrap: wrap; }
  /* line 9, C:/Users/karryd/Google Drive/webutv2_te14/galleri/sass/galleri.sass */
  .kontainer figure {
    width: 300px;
    background: #DDD;
    text-align: center;
    padding: 20px 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #666; }
    /* line 17, C:/Users/karryd/Google Drive/webutv2_te14/galleri/sass/galleri.sass */
    .kontainer figure img {
      width: 280px;
      transition: all 0.5s; }
  /* line 21, C:/Users/karryd/Google Drive/webutv2_te14/galleri/sass/galleri.sass */
  .kontainer figure:hover img {
    transform: rotateY(180deg); }

/*# sourceMappingURL=galleri.css.map */
