html, body, div, h1, p, a, video {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font: 20px "Oxygen";
    color: #881c1c;
}
.content {
    position: relative;
    top: 30%;
    z-index: 2;
    margin: 0 auto;
    max-width: 720px;
    text-align: center;
    background: rgba(244, 67, 54, 0.3);
    padding: 50px;
}

.video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
}
