/* Importera nya typsnitt */

@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma|Droid+Sans|Ubuntu';

/* Main Primary color */

.color-primary-0 {
    color: #FFAB00
}
.color-primary-1 {
    color: #FFB827
}
.color-primary-2 {
    color: #FFAB00
}
.color-primary-3 {
    color: #E49900
}
.color-primary-4 {
    color: #B07600
}

/* Main Secondary color (1) */

.color-secondary-1-0 {
    color: #FFF100
}
.color-secondary-1-1 {
    color: #FFF327
}
.color-secondary-1-2 {
    color: #FFF100
}
.color-secondary-1-3 {
    color: #E4D700
}
.color-secondary-1-4 {
    color: #B0A600
}

/* Main Secondary color (2) */

.color-secondary-2-0 {
    color: #FF3900
}
.color-secondary-2-1 {
    color: #FF5827
}
.color-secondary-2-2 {
    color: #FF3900
}
.color-secondary-2-3 {
    color: #E43300
}
.color-secondary-2-4 {
    color: #B02800
}

/* Sidorna bakgrundsbilder */

section:nth-of-type(1) {
    background: url('../images/photo-1465101162946-4377e57745c3.jpg') no-repeat center / cover;
}
section:nth-of-type(2) {
    background: url('../images/photo-1465415513839-55341da57a98.jpg') no-repeat center / cover;
}
section:nth-of-type(3) {
    background: url('../images/photo-1465420961937-e0eba4dda519.jpg') no-repeat center / cover;
}
section:nth-of-type(4) {
    background: url('../images/photo-1468476775582-6bede20f356f.jpg') no-repeat center / cover;
}
section:nth-of-type(5) {
    background: url('../images/photo-1467173572719-f14b9fb86e5f.jpg') no-repeat center / cover;
}

/* Ändra typsnitt på rubriker */

h1 a {
    font: 40px 'Baloo Tamma', cursive;
    padding-top: 5px;
    color: #b02800;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
<<<<<<< HEAD
    color: #b02800;
=======
>>>>>>> webbutveckling_2/master
}
p {}

/* Ändra menynknapparnas färger */

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
    background: #b07600;
}
nav li:nth-child(even) a {
    background: #e43300;
}
nav li:nth-child(odd) a:hover {
    background: #ffb827;
}
nav li:nth-child(even) a:hover {
    background: #ffb827;
}
nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
    background: #fff327;
    color: #b02800;
}

/* Utseende för innehåll på sida 2 */

.kontainer2 {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.kontainer2 figure {
    width: 300px;
    background: #DDD;
    text-align: center;
    padding: 20px 10px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px #666;
}
.kontainer2 img {
    width: 280px;
}
/* Flip effekt på första bilden */
.kontainer2 .flip img {
    transition: all 0.5s;
}
.kontainer2 .flip:hover img {
    transform: rotateY(180deg);
}
/* Morph-effekt på andra bilden */
.kontainer2 .morph img {
    transition: all 0.5s ease;
}
.kontainer2 .morph:hover img {
    border-radius: 50%;
    transform: rotate(360deg);
}
/* Tilt-effekt på tredje bilden */
.kontainer2 .tilt img {
    transition: all 0.5s ease;
}

.kontainer2 .tilt:hover img {
    transform: rotate(-10deg);
}
/* Grow-effekt på fjärde bilden */
.kontainer2 .grow img {
    transition: all 1s ease;
}

.kontainer2 .grow:hover img {
    width: 400px;
    height: 400px;
}
/* Fokus-effekt på femte bilden */
.kontainer2 .fokus img {
    transition: all 1s ease;
}

.kontainer2 .fokus:hover img {
    border: 70px solid #000;
    border-radius: 50%;
}
